mark
{
    background-color: skyblue;
    color: black;
	border: bold;
}

.bodyFond
{
	font-family: Verdana;
    background-image: url('../asset/background_color1.png');
}

.souligner
{
    text-decoration: underline;
	color:red;
}

.zoom:hover
{
    transform: scale(1.8);
}

.margerContenu
{
    margin: 20px;
    text-align: center;
}

.FondGris
{
    margin: 20px;
    text-align:center;
    background-color:silver;
}
.titre
{
    background-image: url('../asset/bannierFond.png');
}
 .fondBleu
 {
    margin:20px;
    text-align: center;
    background-color: skyblue;
 }